<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>upload</title>
	<link rel="stylesheet" href="./__PUBLIC__/css/normalize.css">
	<link rel="stylesheet" href="./__PUBLIC__/css/upload.css">
	<script src="./__PUBLIC__/js/flexible.js"></script>
	<script src="./__PUBLIC__/js/zepto.min.js"></script>
	<script src="./__PUBLIC__/js/jweixin-1.0.0.js"></script>
	<script src="./__PUBLIC__/js/upload.js"></script>
</head>
<body>
	<div class="photo">
		<div class="container">
			<div class="upload-img">
				<p class="plus"><img class="plus-img" src="./__PUBLIC__/images/plus.png" alt="点击添加图片"></p>
				<p class="add-img">添加图片</p>
			</div>
        	<img class="show-pic" src="./__PUBLIC__/images/person1.png">
        </div>
        <div class="cover"></div>
    	<input class="vote" type="text" placeholder="输入你的手机号">
    	<p class="tips">我们是不会泄露你的联系方式哒～</p>
    	<input class="upload" type="button" value="上传图片"></input>
	</div>
	<form style="display: none;" class="p_form" method="post" action="./stuface/index.php?m=home&c=index&a=uploadpic" enctype="multipart/form-data">
		<input type="file" class="add-in-file" name="photo">
		<input type="submit">
	</form>
	<div class="upload-info1">
		<p>呜呜呜上传失败了π^π</p>
		<input class="refresh" type="button" value="点击重发">
		<img class="close" src="./__PUBLIC__/images/close.png" alt="close">
	</div>
	<div class="upload-info3">
		<p>上传中....</p>
	</div>
	<div class="upload-info2">
		<p class="success"><img src="./__PUBLIC__/images/right.png" alt="success">&nbsp;上传成功</p>
		<p class="delay-time">(3 秒 后 自 动 跳 转 到 首 页...）</p>
		<img class="close" src="./__PUBLIC__/images/close.png" alt="close">
	</div>
	<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script>
		var shareTitle = '[新生笑脸]快来参加2016重邮迎新季——“寻找最美笑脸”活动之“晒晒通知书”，有好礼哦！',
			shareLink = window.location.href,
			shareImg = 'http://hongyan.cqupt.edu.cn/stufaceMo//Public/images/share_img.png';

		wx.config({
		    debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
		    appId: "<?php echo $jsapi['appId']?>", // 必填，公众号的唯一标识
		    timestamp: "<?php echo $jsapi['timestamp']?>", // 必填，生成签名的时间戳
		    nonceStr: "<?php echo $jsapi['nonceStr']?>", // 必填，生成签名的随机串
		    signature: "<?php echo $jsapi['signature']?>",// 必填，签名，见附录1
		    jsApiList: [
		    	'onMenuShareTimeline', 'onMenuShareAppMessage',
		    	'onMenuShareQQ', 'onMenuShareWeibo', 'onMenuShareQZone'
		    ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
		});

		wx.ready(function(){
			wx.onMenuShareTimeline({
				title: shareTitle, // 分享标题
			    link: shareLink, // 分享链接
			    imgUrl: shareImg, // 分享图标
			    success: function () { 
			        // 用户确认分享后执行的回调函数
			    },
			    cancel: function () { 
			        // 用户取消分享后执行的回调函数
			    }
			});
			wx.onMenuShareAppMessage({
				title: shareTitle, // 分享标题
			    link: shareLink, // 分享链接
			    imgUrl: shareImg, // 分享图标
			    success: function () { 
			        // 用户确认分享后执行的回调函数
			    },
			    cancel: function () { 
			        // 用户取消分享后执行的回调函数
			    }
			});
			wx.onMenuShareQQ({
				title: shareTitle, // 分享标题
			    link: shareLink, // 分享链接
			    imgUrl: shareImg, // 分享图标
			    success: function () { 
			        // 用户确认分享后执行的回调函数
			    },
			    cancel: function () { 
			        // 用户取消分享后执行的回调函数
			    }
			});
			wx.onMenuShareWeibo({
				title: shareTitle, // 分享标题
			    link: shareLink, // 分享链接
			    imgUrl: shareImg, // 分享图标
			    success: function () { 
			        // 用户确认分享后执行的回调函数
			    },
			    cancel: function () { 
			        // 用户取消分享后执行的回调函数
			    }
			});
			wx.onMenuShareQZone({
				title: shareTitle, // 分享标题
			    link: shareLink, // 分享链接
			    imgUrl: shareImg, // 分享图标
			    success: function () { 
			        // 用户确认分享后执行的回调函数
			    },
			    cancel: function () { 
			        // 用户取消分享后执行的回调函数
			    }
			});
		});
	</script>
</body>
</html>