<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>新生笑脸网</title>
	<meta name="format-detection" content="telephone=no" />
	<link rel="stylesheet" href="./__PUBLIC__/css/normalize.css">
	<link rel="stylesheet" href="./__PUBLIC__/css/index.css">
	<script src="./__PUBLIC__/js/flexible.js"></script>
	<script src="./__PUBLIC__/js/zepto.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="part-first">
			<div class="upload">
    			<a href="./<{:U('Upload/index')}>"><img src="./__PUBLIC__/images/upload.png" alt="请点此上传照片"></a>
    		</div>
		</div>
		<div class="part-second">
			<div class="act-info">
				<img class="actinfo" src="./__PUBLIC__/images/actinfo.png" alt="活动详情">
				<div class="word-info">
					<p class="title">活动时间:</p>
					<p class="splicit-info">本次线上参与活动时间为<span class="real-time">8月8日8:00-9月6日8:00</span></p>
					<p class="title"><span class="act-obj">活动主题: </span><span class="fresh-stu">新生笑脸征集——晒晒通知书</span></p>
					<p class="title"><span class="act-obj">活动对象: </span><span class="real-obj">2016级</span><span class="fresh-stu">所有小鲜肉</span></p>
					<p class="title">参与方式:</p>
					<p class="splicit-info"><span class="mtd1"></span>上传自己的“笑脸”照片（每人限一张)参与活动</p>
					<p class="splicit-info">照片内容：“笑脸”照片可以是新生、家人和录取通知书合照。</p>
					<p class="title host" style="color: #ed7356">红岩网校工作站2016新生交流群:459832901</p>
					<!-- <p class="splicit-info1">9月13日晚上19：00   将会展示最美笑脸</p> -->
					<img class="person" src="./__PUBLIC__/images/person.png" alt="人物">
				</div>				
			</div>
		</div>
		<div class="part-third">
			<div class="smile-show">
				<img class="smileshow" src="./__PUBLIC__/images/smileshow.png" alt="笑脸展示">
				<div class="smileimgs">
					<div class="show-first">
						<input class="fill-id" type="text" placeholder="输入笑脸编号"><input class="search" type="button" value="搜索">
						<ul><a class="second-line clicked-ul" id="b1" href="javascript:void(0);">最新<i class="iconfont">&#xe60a;</i></a>
							<div class="li-container" id="c1">
							    <li><a class="second-line" href="#">人气</a></li>
    							<li><a class="first-line" href="#">最新</a></li>
							</div>
						</ul>
						<ul><a class="second-line clicked-ul" id="b2" href="javascript:void(0);">全部<i class="iconfont">&#xe60a;</i></a>
							<div class="li-container" id="c2" >
							    <li><a class="second-line" href="#">全部</a></li>
    							<li><a class="first-line" href="#">妹子</a></li>
    							<li><a class="second-line" href="#">汉子</a></li>
							</div>	
						</ul>
					</div>
					<div class="test">
						<div id="wrapper">
						<div class="package">
							<div class="show-second">
        						
    					</div>
						</div>			
					</div>
					</div>
				</div>
			</div>
		</div>
		<div class="loading">
			<div class="loading-content">
				<span class="uers-tell">
					点击刷新
				</span>
				
			</div>
		</div>
	</div>
	<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script>
		$(function () {
			var con = $(".container")[0],
				el_outer = $(".show-second"),
				fragment_outer = $("<div></div>").addClass("real-show"),
				package_outer = $(".show-second"),
				loading = $(".loading"),
				loading_content = $(".loading-content"),
				obj = {
					"id":"1",
					"pic":"55e6af2907944.jpg",
					"uid":"2014211",
					"vote":"0000000001",
					"time":"2015-09-01 20:02:48",
					"sex":null,
					"phone":null
				},
				fragment,
				temp,
				check = false,
				height = 0,
				i,
				oldY = 0,
				newY,
				len,
				key,
				start = 0,
				oldP = 0,
				newP = 0,
				check_top = false,
				check_lodingData = true,
				nor_height = loading.height(),
				scrollT,
				paiming = 0,
				text = $(".fill-id"),
				str1 = "综合",
				str2 = "全部",
				url_l = "./index.php?m=Home&c=smile&a=index";
			loadingData1();
			for(i = 0;i < con.children.length;i++){
				height += con.children[i].offsetHeight;
			}
			loading.css('top',height - loading.height() + 1);
			document.addEventListener("touchstart",function (e) {	
				// check = true;
				// oldP = oldY = e.touches[0].pageY;				
			})
			document.addEventListener("touchmove",function (e) {
				// if(check&&con.scrollTop + con.offsetHeight + 1 >= height){
				// 	scrollT = con.scrollTop;
				// 	newP = newY = e.touches[0].pageY;
				// 	if(newY - oldY < -20){
				// 		oldY = newY + 20;
				// 	}
				// 	e.preventDefault();
				// 	con.scrollTop -= newY - oldY;
				// 	if(newY - oldY < 0){
				// 		loading.css('height',loading.height() + 10 + "px");		
				// 		if(newP - oldP < -300){
				// 			check_lodingData = true;
				// 			loading_content.html('<span class="uers-tell">松手刷新.....</span>');
				// 		}else{
				// 			loading_content.html('<span class="uers-tell">点击刷新</span>');
				// 		}
				// 	}else{
				// 		check_lodingData = false;
				// 		loading.css('height',loading.height() - 10 + "px");
				// 	}
				// 	oldY = newY;
				// 	check_top = true;
				// }
			})
			document.addEventListener("touchend",function (e) {
				// loading_start();
			})
			loading[0].addEventListener("touchend",function (e) {
				check_lodingData = true;
				check_top = true;
				loading_start();
			})
			function loadingData1() {
				$.post("./"+"<{:U('Index/showpic')}>","time=" + start++ + "&sex=" + str2 + "&group=" + str1,function (res) {
					res = JSON.parse(res);
					console.log(res);
					loading_content.html('<span class="uers-tell">点击刷新</span>');
					if(check_lodingData){
						for(i = 0,len = res.length;i < len;i++){
							for(key in res[i]){
								obj[key] = res[i][key];
							}
							fragment = '<div class="real-show"><span class="ranking">NO.'+ ++paiming +'</span><a href="' + url_l +  "&uid=" + obj.uid + '"><img class="real-pic" src="' +  "http://202.202.43.41/stuface/Public/allimage/" + obj.pic + '"></a><p class="word-info"><span class="zan"><i uid=' + obj.uid  + ' class="iconfont1"></i></span><span class="zan-num">' + parseInt(obj.vote) + '</span><span class="more-info"> <a class="more-info" href="' + url_l +  "&uid=" + obj.uid + '"><img src="./__PUBLIC__/images/moreinfo.png"></a></span></p></div>';
							temp = fragment;
							package_outer.append(fragment);
							fragment = temp;
							loadingData = false;
							
						}
						height = 0;
						if(len == 0){
							loading_content.html('<span class="uers-tell">没有更多了</span>');
							setTimeout(function () {
								loading_content.html('<span class="uers-tell">点击加载</span>');
							},1000);
						}
						for(i = 0;i < con.children.length;i++){
							height += con.children[i].offsetHeight;
						}
						loading.css('top',height - nor_height + 1);
						check_lodingData = false;
					}
				})
			}
			function loading_start() {
				check = false;
				if(!check_top){
					return;
				}
				check_top = false;
				loading.css('height',nor_height + "px");
				loadingData1();
				
			}
			package_outer[0].addEventListener("touchend",function (e) {
				var target = e.target;
				if(target.className == "iconfont1"){
					$.post("./<{:U('Smile/vote')}>","uid=" + target.getAttribute("uid"),function (res) {
						console.log(res);
						res = JSON.parse(res);
						if(res && res !=2){
							target.parentNode.nextSibling.innerHTML = res.vote;
						}else{
							if(res == 2){
								alert("您还没有绑定小帮手，请到绑定页面绑定");
								window.location.href = "http://hongyan.cqupt.edu.cn/MagicLoop/index.php?s=/addon/Bind/Bind/bind";
							}else{
								alert("你今天已经投过票了");
							}
						}
					})
				}
			})
			var firstUl = $('.clicked-ul').eq(0),
			    secondUl = $('.clicked-ul').eq(1),
			    first = $("#b1"),
			    second = $("#b2");
			//下拉菜单
			$(firstUl).bind("touchend",function () {
				if ($(this).hasClass('second-line')) {
					$(this).removeClass('second-line');
				};
				$(this).addClass('first-line');
				if (!$(secondUl).hasClass('second-line')) $(secondUl).addClass('second-line');
				$(".li-container").eq(0).css('display',"block");
			});
			$(secondUl).bind("touchend",function () {
				if ($(this).hasClass('second-line')) {
					$(this).removeClass('second-line');
				};
				$(this).addClass('first-line');
				if (!$(firstUl).hasClass('second-line')) $(firstUl).addClass('second-line');
				$(".li-container").eq(1).css('display',"block");
			});
			$(".part-first").css({
				"background":"url(Public/images/bodybg2016.png) 50% 0 no-repeat",
				"background-size":"100% 100%"
			});
			$("#c1").bind("click",function (e) {
				start = 0;
				paiming = 0;
				var target = e.target;
				if(target.nodeName = "A"&&!target.id){
					first.text($(target).html());
					str1 = first.text();
					first.html(first.html() + '<i class="iconfont">&#xe60a;</i>');
					package_outer.html("");
					check_lodingData = true;
					check_top = true;
					loading_start();
					loadingData1();
					$(".li-container").css('display',"none");
				}
			})
			$("#c2").bind("click",function (e) {
				start = 0;
				paiming = 0;
				var target = e.target;
				if(target.nodeName = "A"&&!target.id){
					second.text($(target).html());
					str2 = second.text();
					second.html(second.html() + '<i class="iconfont">&#xe60a;</i>');
					package_outer.html("");
					check_lodingData = true;
					check_top = true;
					loading_start();
					loadingData1();
					$(".li-container").css('display',"none");
				}
			})
			$(".search").click(function () {
				var value = text.val();
				$.post("<{:U('Smile/select')}>","id=" + value,function (res) {
					res = JSON.parse(res);
					if(res){
						window.location = "./index.php?m=Home&c=smile&a=index&id=" + value;
					}else{
						alert("没有这个笑脸哦");
					}
				})
			})
		})

		var shareTitle = '快来参加“2016重邮迎新季——寻找最美笑脸”活动，有好礼哦！',
			shareLink = window.location.href,
			shareImg = '';

		wx.config({
		    debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
		    appId: "<?php echo $access['appid']?>", // 必填，公众号的唯一标识
		    timestamp: "<?php echo $access['timestamp']?>", // 必填，生成签名的时间戳
		    nonceStr: "<?php echo $access['string']?>", // 必填，生成签名的随机串
		    signature: "<?php echo $access['signature']?>",// 必填，签名，见附录1
		    jsApiList: [
		    	'onMenuShareTimeline', 'onMenuShareAppMessage',
		    	'onMenuShareQQ', 'onMenuShareWeibo', 'onMenuShareQZone'
		    ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
		});

		wx.ready(function(){
			wx.onMenuShareTimeline({
				title: shareTitle, // 分享标题
			    link: shareLink, // 分享链接
			    imgUrl: shareImg, // 分享图标
			    success: function () { 
			        // 用户确认分享后执行的回调函数
			    },
			    cancel: function () { 
			        // 用户取消分享后执行的回调函数
			    }
			});
			wx.onMenuShareAppMessage({
				title: shareTitle, // 分享标题
			    link: shareLink, // 分享链接
			    imgUrl: shareImg, // 分享图标
			    success: function () { 
			        // 用户确认分享后执行的回调函数
			    },
			    cancel: function () { 
			        // 用户取消分享后执行的回调函数
			    }
			});
			wx.onMenuShareQQ({
				title: shareTitle, // 分享标题
			    link: shareLink, // 分享链接
			    imgUrl: shareImg, // 分享图标
			    success: function () { 
			        // 用户确认分享后执行的回调函数
			    },
			    cancel: function () { 
			        // 用户取消分享后执行的回调函数
			    }
			});
			wx.onMenuShareWeibo({
				title: shareTitle, // 分享标题
			    link: shareLink, // 分享链接
			    imgUrl: shareImg, // 分享图标
			    success: function () { 
			        // 用户确认分享后执行的回调函数
			    },
			    cancel: function () { 
			        // 用户取消分享后执行的回调函数
			    }
			});
			wx.onMenuShareQZone({
				title: shareTitle, // 分享标题
			    link: shareLink, // 分享链接
			    imgUrl: shareImg, // 分享图标
			    success: function () { 
			        // 用户确认分享后执行的回调函数
			    },
			    cancel: function () { 
			        // 用户取消分享后执行的回调函数
			    }
			});
		});


	</script>
</body>
</html>